@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background-color: rgba(130, 130, 130, 0.03);
  font-size: 14px;
}

/* Animations */
/* Sliding in from bottom */
@keyframes appear-bottom {
  to {
    bottom: 0;
    opacity: 1;
  }
}
.animation-appear-bottom {
  animation: appear-bottom 0.5s ease forwards;
}

/* For the Carousel on the About page */
.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;

  transform: translateY(-50%);
  border: 0;
  width: 50px;
  height: 50px;
  top: 45%;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 22px;
}

.embla__button--next {
  right: 22px;
}

/* Styles for Embla carousel dot navigation  */

.embla__controls {
  display: grid;
  justify-content: center;
}

.embla__dots {
  display: flex;
  column-gap: 12px;
}
.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.552);
}
.embla__dot:after {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  content: "";
}
.embla__dot--selected {
  box-shadow: inset 0 0 0 1px rgb(177, 177, 177);
  background-color: #db4444;
  width: 1rem;
  height: 1rem;
}

/* for HeroCarousel */
.embla__dots2 {
  display: flex;
  column-gap: 12px;
}
.embla__dot2 {
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 0.6rem;
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.552);
}
.embla__dot2:after {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;

  content: "";
}
.embla__dot2--selected {
  box-shadow: inset 0 0 0 1px rgb(177, 177, 177);
  background-color: #db4444;
  width: 0.6rem;
  height: 0.6rem;
}

.rotation-first-img {
  transform: rotate3d(1, 1, 1, 45deg);
}

.rotation-second-img {
  transform: rotate3d(1, 1, -1, 20deg);
}
.rotation-third-img {
  transform: rotate3d(1, 60, 1, 180deg);
}
.rotation-fourth-img {
  transform: rotate3d(1, 5, -1, 180deg);
}
